<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>Invoice</title>
</head>

<body>
  <header>
    <h1>SUNNYVIEW APARTMENTS</h1>
    <h3>Monthly Water Bill</h3>
  </header>
  {{{body}}}
  <footer>
    <p>
      If you have any information concerning the invoice, Please contact any
      of the following
    </p>
    <div class="contact-footer">
      <small> Susan Mburu | 0733921796 | mdjmnganga@outlook.com </small><br />
      <small class="muted"> Copyright &copy 2021 </small>
    </div>
  </footer>
</body>

</html>